[Unit]
Description=Amazon Alexa
After=network.target network-online.target

[Service]
Type=forking
ExecStart=sudo "/home/$USER/Assistants-Pi/Alexa/start.sh"


[Install]
WantedBy=multi-user.target
